@model List<Etudiant>  

<table>
    <thead>
        <tr>
            <th>User Id</th>
           @*  <th>Email</th>
            <th>First Name</th> *@
           
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
            @*     <td>@user.Email</td> *@
            @*     <td>@user.FirstName</td> *@
            </tr>
        }
    </tbody>
</table>
