@using Microsoft.AspNetCore.Identity;

@model IEnumerable<IdentityRole>


@{
    ViewData["Title"] = "Roles";

}


<h3> View Roles</h3>
<p>
    <a asp-action="Create">Add Role</a>
</p>

<table>

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model=>Model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(Model=>Model.Name)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Name)
                </td>
            </tr>
        }
    </tbody>


</table>